# {{ entity.sym }}()
{{ entity.sym }} = {{ meta.prefix }}_clib.{{ entity.sym }}
{{ entity.sym }}.argtypes = [
{%- for param in entity.parameters %}
{{- param.typ | emit_typespec }}
{{- ", " if not loop.last else "" }}
{%- endfor %}
]
{{ entity.sym }}.restype = {{ entity.ret | emit_typespec }}